.middle {
    margin : 0;
    padding : 0;
}

.title { 
    font-size : 1.5rem;
    font-weight:600;
    margin: 0 auto;
    margin-top : 50px;
    width : 80%;
    text-align: center;
}

.container {
	margin: 0 auto;
	position: relative;
	width:81%;
}


.input-query {
	width: 25%;
	padding: 0.5em;
	border: 1px solid #d4d7e1;
	border-radius: 3px;
	font-size: 1em;
    float: right;
    margin-top : 40px;
}

.input-query:hover{
	background-color:#f7f9fa;
}

.input-query:focus ~ .counter {
	opacity: 0.1;
	transition: opacity 1s ease-in;
}

.cell{
	display:inline-block;
	font-size:21px;
	color:#3e3b4a;
	margin-right:15px;
	margin-top:34px;
	border: 1px solid #d4d7e1;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 6px;
}
