.middle {
    margin : 0;
    padding : 0;
}

.top_Sentence {
    font-size : 16pt;
    margin: 0 auto;
    width : 1125px;
    text-align: center;
    margin-top: 55px;
    margin-bottom: 15px;
    font-weight: 400;
}

.mid1_Sentence {
    font-size : 35pt;
    font-weight:600;
    margin: 0 auto;
    width : 1125px;
    text-align: center;
}

.mid2_Sentence {
    font-size: 35pt;
    font-weight: bolder;
    margin: 0 auto;
    width : 1125px;
    text-align: center;
    margin-bottom : 25px;
}

.detail {
    font-size: 16pt;
    margin: 0 auto;
    width : 570px;
    text-align: left;
    font-weight: 300;
}
